<h1><%=@cat.name%>'s Information</h1>


<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Sex</th>
    <th>Birthday</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%=@cat.name%></td>
    <td><%=@cat.color%></td>
    <td><%=@cat.sex%></td>
    <td><%=@cat.birthdate%></td>
    <td><%=@cat.description%></td>
  </tr>
</table>
